.footer {
	background-color: black;
	background-image: url("../img/footer-bg.png");
	background-position: center;
	background-size: 30px;
	color: white;
	padding: 20px 0;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include media(w768) {
			text-align: center;
			flex-flow: column;
			align-items: stretch;
		}
	}

	&__copy {
		font-size: 14px;

		@include media(w768) {
			order: 2;
		}
		
	}

	&__info {

		@include media(w768) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__social-list {
		display: inline-block;
		vertical-align: middle;
	}

	&__logo {
		transition: $trans;
		display: inline-block;
		vertical-align: middle;
		filter: grayscale(100%);
		filter: gray; 
		margin-left: 58px;

		&:hover {
			filter: grayscale(0);
		}
	}

	&__logo-icon {
		font-size: 2.5rem;
		height: 1em;

		@include media(w768) {
			font-size: 2rem;
		}
	}
}