.sec2 {
	background-color: $gray-main-darken;
	background-image: url("../img/sec2-bg.png");
	background-repeat: repeat;
	background-size: auto;
	padding-top: 316px;

	@include media(w1280) {
		padding-top: 180px;	
	}

	@include media(w768) {
		padding-top: 160px;	
	}
}