.action {
	background-color: white;
	border-radius: 10px;
	display: flex;
	overflow: hidden;
	min-height: 440px;

	@include media(w1024) {
		min-height: 340px;
	}

	@include media(w768) {
		flex-flow: column;
		min-height: none;
	}

	&__item {
		
		&_text {
			padding: 40px 20px 60px 40px;
			width: 34%;

			@include media(w768) {
				padding: 20px;
			}
		}

		&_img {
			width: 66%
		}

		@include media(w1024) {
			width: 50%;
		}

		@include media(w768) {
			width: auto;
		}
	}

	&__title {
		font-family: "Lobster", Arial, Helvetica, sans-serif;
	}

	&__text {

		@include media(w768) {
			font-size: 13px;
		}
	}

	&__img {
		background-image: url("../img/action-img.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100%;

		@include media(w768) {
			display: none;
		}
	}

	&__img-mobile {
		display: none;
		width: 100%;

		@include media(w768) {
			display: block;
		}
	}
}