extends ../templates/layout

block vars
    - var title = 'Main'

block content
    include ../components/index-sec1
    include ../components/index-sec2
    include ../components/index-sec3
    include ../components/index-sec4
    include ../components/index-sec5
    include ../components/index-sec6