.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-decor-border {
	font-size:(133.8/10)*1rem;
	width:(202/133.8)*1em;
}
.icon-decor-border-big {
	font-size:(133.8/10)*1rem;
	width:(282/133.8)*1em;
}
.icon-decor-border-bigger {
	font-size:(102/10)*1rem;
	width:(362/102)*1em;
}
.icon-decor-border-bigger_1 {
	font-size:(134.1/10)*1rem;
	width:(322/134.1)*1em;
}
.icon-footer-logo {
	font-size:(420/10)*1rem;
	width:(420/420)*1em;
}
.icon-gallery-arrow {
	font-size:(18/10)*1rem;
	width:(19/18)*1em;
}
.icon-header-logo {
	font-size:(828.7/10)*1rem;
	width:(1259.5/828.7)*1em;
}
.icon-icon-caravan {
	font-size:(433.5/10)*1rem;
	width:(360/433.5)*1em;
}
.icon-icon-fb {
	font-size:(96.1/10)*1rem;
	width:(96.1/96.1)*1em;
}
.icon-icon-forward {
	font-size:(50.5/10)*1rem;
	width:(50.5/50.5)*1em;
}
.icon-icon-hotdog {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-icon-inst {
	font-size:(169.1/10)*1rem;
	width:(169.1/169.1)*1em;
}
.icon-icon-recommended {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-icon-vegetables {
	font-size:(463.3/10)*1rem;
	width:(512/463.3)*1em;
}
.icon-icon-world {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
