$trans: all 0.3s ease;
$side-padding-pc: 30px;
$side-padding-mobile: 15px;
$max-width: calc(1160px + 2 * #{$side-padding-pc});
$min-width: 320px;

$red-main: #ee4037;
$brown-main-darken: #23100b;

$gray-main-lightest: #cdcdcd;
$gray-main-lighten: #b9b9b9;
$gray-main-darken: #1c1c1c;

// $color-main--lightest: #CBF3BF;
// $color-main--lighten:  #ACEF97;
// $color-main--light:    #74EA4F;
// $color-main:           #3FD411;
// $color-main--dark:     #39BA11;
// $color-main--darken:   #329F11;
// $color-main--darkest:  #184B09;