section#contacts.sec.sec6
	div.container
		div.note.sec6__note
			div.note__title.sec6__note-title.
				наши
			div.note__heading.
				Контакты
			svg(class="icon-decor-border-bigger_1").note__border.sec6__note-border
				use(xlink:href="#decor-border-bigger_1")
	div#map.sec6__map