div.actions
	div.container
		div.actions__list
			- for (var i = 0; i < 3; i++) {
				div.actions__list-item
					a(href="").actions__list-link
						//span(style="background-image:url('img/action-img.jpg')").actions__list-img
						img(src="img/action-img.jpg", alt="").actions__list-img
						span.actions__list-title.
							Попробуй лето на вкус!
						span.actions__list-subtitle.
							Зарядись энергией твоего лета!
			-}
		p.
			Проект стартовал в марте 2003 года, когда четверо друзей из Сан-Франциско реализовали концепцию гурмэ хот-догов под названием “What’s Up Dog!” В поиске лучших рецептов они объехали сотни сосисочных от Лос-Анджелеса до НьюЙорка. После длительных поисков и дегустаций они вышли на рынок с меню, включающим фирменный рецепт “What’s Up Dog!” - сосиска франкфуртер в нью-йоркском стиле - а так же 10 других гурмэ сосисок от лучших производителей США. Меню так же дополнили корн-догами, Начо-чипсами с сыром, мясным чили кон карне и картофелем фри, приготовленным в фирменном соусе. На данный момент, сеть «What`s Up Dog!», очень популярная среди местных жителей и туристов, работает в Сан-Франциско, Нью-Йорке, Лос-Анджелесе и Москве. 