section#franchise.sec.sec5
	div.container
		div.sec5__form-wrap
			div.sec5__form-title.
				Франчайзинг
			p.fs-m.fw-bold.sec5__form-subtitle.
				Если Вы хотите стать владельцем успешного бизнеса?<br> заполните заявку и наши менеджеры свяжутся с вами<br> в ближайшее время
			form(novalidate).sec5__form.js-sec5-form
				div.sec5__form-fields
					label.sec5__form-label
						input(type="text" name="phone" placeholder="Ваш телефон" required).input.sec5__form-field
					label.sec5__form-label
						button().btn-rect.btn-rect_main.sec5__form-field.
							Оставить заявку
				input(type="checkbox" required id="sec5Checkbox").checkbox
				label(for="sec5Checkbox").checkbox__label.
					Я согласен на обработку моих персональных данных, в рамках этого сайта
	img(src="img/sec5-women.png", alt="").sec5__women