section#about.sec.sec3
	div.sec3__bottom
		div.container.sec3__container
			div.sec3__note
				img(src="img/sec3-img.png", alt="").sec3__img
				div.sec3__note-inner
					h3.sec3__note-title.
						What’s up, dog!
					p.
						В какой бы город США вы не отправились, повсюду миллионы американцев приветствуют друг друга распространенной фразой “What’s Up Dog!”, которую ввел в обиход известный американский шоу-мен Рэнди Джексон, приветствовавший таким образом участников шоу Американский Идол. Проект стартовал в марте 2003 года, когда четверо друзей из Сан-Франциско реализовали концепцию гурмэ хот-догов под названием “What’s Up Dog!” В поиске лучших рецептов они объехали сотни сосисочных от Лос-Анджелеса до НьюЙорка. После длительных поисков и дегустаций они вышли на рынок с меню, включающим фирменный рецепт “What’s Up Dog!” - сосиска франкфуртер в нью-йоркском стиле - а так же 10 других гурмэ сосисок от лучших производителей США. Меню так же дополнили корн-догами, Начо-чипсами с сыром, мясным чили кон карне и картофелем фри, приготовленным в фирменном соусе. На данный момент, сеть «What`s Up Dog!», очень популярная среди местных жителей и туристов, работает в Сан-Франциско, Нью-Йорке, Лос-Анджелесе и Москве.
		div.sec3__table
			img(src="img/sec3-table-bottom.jpg", alt="").sec3__table-img.sec3__table-img_bottom
			img(src="img/sec3-table-top.jpg", alt="").sec3__table-img.sec3__table-img_top