div.modal.action__modal
	div.container
		div.modal__content
			div.modal__close
			div.action
				div.action__item.action__item_text
					p.fs-xl.action__title.
						Попробуй лето на вкус!
					p.action__text.
						Энерджи новинки в GlowSubs! - Энерджи латте классический; . - Энерджи мокко; . - Энерджи латте клубника банан; . - Энерджи латте клубника банан; . - Айсти Персик. Попробуй лето на вкус! *Новинки доступны в следующих ресторанах сети: - Лужнецкая Набережная; . - м.Серпуховская, ул. Б.Серпуховская, д.17, стр.1; . - м. Павелецкая, Павелецкая пл., д. 1; . - м. Университет, Ленинский пр-т, д. 70/11; . - м. Университет, Джавахарлала Неру пл., д. 1, ТЦ «Университи», 2 эт.; . - ЦПКиО Парк им. Горького
				div.action__item.action__item_img
					div(style="background-image: url('img/action-img.jpg')").action__img
					img(src="img/action-img.jpg", alt="").action__img-mobile